# Application
APP_NAME=Tallksy
APP_ENV=local
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://api.tallksy.by
APP_KEY=

# Localization
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

# Maintenance
APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# Security
BCRYPT_ROUNDS=12

# Logging
LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# Database Configuration
DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
DB_URL=

# Session
SESSION_DRIVER=redis
SESSION_CONNECTION=session
SESSION_LIFETIME=120
SESSION_COOKIE=tallksy_session
SESSION_DOMAIN=.tallksy.by
SESSION_SECURE_COOKIE=false

# Sanctum
SANCTUM_STATEFUL_DOMAINS=

# Broadcasting, Filesystem, Queue
BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis
QUEUE_AFTER_COMMIT=true

# Cache
CACHE_STORE=redis
CACHE_PREFIX=

# Redis
REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_DB=0
REDIS_CACHE_DB=1
REDIS_SESSION_DB=2
REDIS_QUEUE_DB=3
REDIS_QUEUE_CONNECTION=queue

# Mail
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="${APP_NAME}"

# TTS Service
TTS_PORT=8000
TTS_SERVICE_URL=http://tts:8000

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=

# API Configuration
API_PREFIX=api

#Stripe
STRIPE_KEY=
STRIPE_SECRET=
STRIPE_WEBHOOK_SECRET=
STRIPE_WEBHOOK_FORWARD_TO=http://nginx:8080/api/stripe/webhook
STRIPE_PRODUCT_ID=
STRIPE_PRICE_ID=


# MinIO Object Storage
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=tallksy
MINIO_REGION=us-east-1
MINIO_ENDPOINT=http://minio:9000
MINIO_PUBLIC_URL=http://localhost:9000

# Xdebug Configuration
XDEBUG_ENABLED=true
XDEBUG_HOST=host.docker.internal
XDEBUG_IDE_KEY=PHPSTORM

# User/Group ID (should match general .env)
UID=
GID=
