{
  "openapi": "3.0.0",
  "info": {
    "title": "Tallksy API",
    "version": "1.0.0",
    "description": "API documentation for Tallksy"
  },
  "servers": [
    {
      "url": "https://api.tallksy.by",
      "description": "Local Development Server"
    }
  ],
  "paths": {
    "/api/subscription/setup-intent": {
      "post": {
        "summary": "Create Setup Intent for Stripe payment method",
        "description": "Create a Setup Intent to collect payment method details before creating a subscription",
        "tags": ["Subscription"],
        "security": [{"bearerAuth": []}],
        "responses": {
          "200": {
            "description": "Setup Intent created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "client_secret": {
                      "type": "string",
                      "description": "Client secret for Stripe Elements"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Failed to create setup intent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"},
                    "error": {"type": "string"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/subscription/subscribe": {
      "post": {
        "summary": "Subscribe to premium plan",
        "description": "Create a new premium subscription for the authenticated user with optional 30-day trial period",
        "tags": ["Subscription"],
        "security": [{"bearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["payment_method_id"],
                "properties": {
                  "payment_method_id": {
                    "type": "string",
                    "description": "Stripe payment method ID"
                  },
                  "with_trial": {
                    "type": "boolean",
                    "description": "Whether to include a 30-day trial period (default: true)",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscription created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"},
                    "data": {
                      "type": "object",
                      "properties": {
                        "subscription_id": {"type": "integer"},
                        "stripe_subscription_id": {"type": "string"},
                        "status": {"type": "string"},
                        "trial_ends_at": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true,
                          "description": "Trial period end date (ISO 8601)"
                        },
                        "ends_at": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true,
                          "description": "Subscription end date if cancelled (ISO 8601)"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Subscription start date (ISO 8601)"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Failed to create subscription or user already subscribed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"},
                    "error": {"type": "string"}
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment requires additional action (3D Secure)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"},
                    "payment_intent_client_secret": {"type": "string"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/subscription/cancel": {
      "post": {
        "summary": "Cancel premium subscription",
        "description": "Cancel the user's active premium subscription (will remain active until end of billing period)",
        "tags": ["Subscription"],
        "security": [{"bearerAuth": []}],
        "responses": {
          "200": {
            "description": "Subscription cancelled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Failed to cancel subscription",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"},
                    "error": {"type": "string"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/subscription/resume": {
      "post": {
        "summary": "Resume cancelled subscription",
        "description": "Resume a cancelled subscription that is still in grace period",
        "tags": ["Subscription"],
        "security": [{"bearerAuth": []}],
        "responses": {
          "200": {
            "description": "Subscription resumed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Failed to resume subscription",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"},
                    "error": {"type": "string"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/subscription/status": {
      "get": {
        "summary": "Get subscription status",
        "description": "Retrieve the current user's subscription status and details",
        "tags": ["Subscription"],
        "security": [{"bearerAuth": []}],
        "responses": {
          "200": {
            "description": "Subscription status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/SubscriptionStatus"}
              }
            }
          },
          "500": {
            "description": "Failed to get subscription status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"},
                    "error": {"type": "string"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/stripe/webhook": {
      "post": {
        "summary": "Stripe webhook endpoint",
        "description": "Handles Stripe webhook events for subscription updates",
        "tags": ["Subscription"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Stripe webhook event payload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook processed successfully"
          }
        }
      }
    },
    "/api/auth/register": {
      "post": {
        "summary": "Register a new user",
        "tags": ["Auth"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/RegisterRequest"}
            }
          }
        },
        "responses": {
          "201": {
            "description": "User registered successfully",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/AuthResponse"}
              }
            }
          }
        }
      }
    },
    "/api/auth/login": {
      "post": {
        "summary": "Login user",
        "tags": ["Auth"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/LoginRequest"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Logged in successfully",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/AuthResponse"}
              }
            }
          }
        }
      }
    },
    "/api/auth/logout": {
      "post": {
        "summary": "Logout user",
        "tags": ["Auth"],
        "security": [{"bearerAuth": []}],
        "responses": {
          "200": {"description": "Logged out successfully"}
        }
      }
    },
    "/api/auth/user": {
      "get": {
        "summary": "Get current user",
        "tags": ["Auth"],
        "security": [{"bearerAuth": []}],
        "responses": {
          "200": {
            "description": "Current user data",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/User"}
              }
            }
          }
        }
      }
    },
    "/api/profiles/{id}": {
      "get": {
        "summary": "Get user profile",
        "tags": ["Profile"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {"$ref": "#/components/schemas/Profile"}
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update user profile",
        "tags": ["Profile"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/UpdateProfileRequest"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile updated",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Profile"}
              }
            }
          }
        }
      }
    },
    "/api/profiles/{id}/avatar": {
      "post": {
        "summary": "Update user profile avatar",
        "tags": ["Profile"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {"type": "integer"},
            "description": "Profile ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["avatar"],
                "properties": {
                  "avatar": {
                    "type": "string",
                    "format": "binary",
                    "description": "Profile avatar image file"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Avatar updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"},
                    "profile": {"$ref": "#/components/schemas/Profile"}
                  }
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string", "example": "Unauthorized access to profile"}
                  }
                }
              }
            }
          },
          "404": {
            "description": "Profile not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string", "example": "Profile not found"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/courses/{courseId}/reviews": {
      "get": {
        "summary": "Get all reviews for a course",
        "tags": ["Course Reviews"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {"name": "courseId", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "responses": {
          "200": {
            "description": "List of course reviews",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {"$ref": "#/components/schemas/CourseReview"}
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create or update a review for a course",
        "tags": ["Course Reviews"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {"name": "courseId", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/CreateReviewRequest"}
            }
          }
        },
        "responses": {
          "201": {
            "description": "Review saved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"},
                    "data": {"$ref": "#/components/schemas/CourseReview"}
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete user's review for a course",
        "tags": ["Course Reviews"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {"name": "courseId", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "responses": {
          "204": {"description": "Review deleted successfully"}
        }
      }
    },
    "/api/courses/{courseId}/rating": {
      "get": {
        "summary": "Get course rating statistics",
        "tags": ["Course Reviews"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {"name": "courseId", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "responses": {
          "200": {
            "description": "Course rating statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {"$ref": "#/components/schemas/CourseRating"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/courses": {
      "get": {
        "summary": "List all courses",
        "tags": ["Courses"],
        "parameters": [
          {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "default": 1}},
          {"name": "per_page", "in": "query", "required": false, "schema": {"type": "integer", "default": 15}},
          {"name": "search", "in": "query", "required": false, "schema": {"type": "string"}, "description": "Search in course title and description"},
          {"name": "difficulty", "in": "query", "required": false, "schema": {"type": "string"}, "description": "Filter by difficulty level"}
        ],
        "responses": {
          "200": {
            "description": "Paginated list of courses",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {"$ref": "#/components/schemas/PaginatedResponse"},
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {"$ref": "#/components/schemas/Course"}
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new course",
        "tags": ["Courses"],
        "requestBody": {
          "required": true,
          "content":{
            "application/json": {
              "schema": {"$ref": "#/components/schemas/CreateCourseRequest"}
            },
            "multipart/form-data": {
              "schema": {"$ref": "#/components/schemas/CreateCourseRequest"}
            }
          }
        },
        "responses": {
          "201": {
            "description": "Course created",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Course"}
              }
            }
          }
        }
      }
    },
    "/api/courses/{id}": {
      "get": {
        "summary": "Get a course by ID",
        "tags": ["Courses"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "responses": {
          "200": {
            "description": "Course details",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Course"}
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a course",
        "tags": ["Courses"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/UpdateCourseRequest"}
            },
            "multipart/form-data": {
              "schema": {"$ref": "#/components/schemas/UpdateCourseRequest"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Course updated",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Course"}
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a course",
        "tags": ["Courses"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "responses": {
          "204": {"description": "Course deleted"}
        }
      }
    },
    "/api/courses/{id}/topics": {
      "get": {
        "summary": "Get all topics for a specific course",
        "tags": ["Topics"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "integer"}, "description": "Course ID"},
          {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "default": 1}},
          {"name": "per_page", "in": "query", "required": false, "schema": {"type": "integer", "default": 15}},
          {"name": "search", "in": "query", "required": false, "schema": {"type": "string"}, "description": "Search in topic title"}
        ],
        "responses": {
          "200": {
            "description": "Paginated list of topics for the specified course",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {"$ref": "#/components/schemas/PaginatedResponse"},
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {"$ref": "#/components/schemas/Topic"}
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/topics": {
      "get": {
        "summary": "List all topics",
        "tags": ["Topics"],
        "parameters": [
          {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "default": 1}},
          {"name": "per_page", "in": "query", "required": false, "schema": {"type": "integer", "default": 15}},
          {"name": "search", "in": "query", "required": false, "schema": {"type": "string"}, "description": "Search in topic title"}
        ],
        "responses": {
          "200": {
            "description": "Paginated list of topics",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {"$ref": "#/components/schemas/PaginatedResponse"},
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {"$ref": "#/components/schemas/Topic"}
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new topic",
        "tags": ["Topics"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/CreateTopicRequest"}
            }
          }
        },
        "responses": {
          "201": {
            "description": "Topic created",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Topic"}
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"},
                    "errors": {"type": "object"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/topics/{id}": {
      "get": {
        "summary": "Get a topic by ID",
        "tags": ["Topics"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "responses": {
          "200": {
            "description": "Topic details",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Topic"}
              }
            }
          },
          "404": {
            "description": "Topic not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string", "example": "Topic not found"}
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a topic",
        "tags": ["Topics"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/UpdateTopicRequest"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Topic updated",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Topic"}
              }
            }
          },
          "404": {
            "description": "Topic not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string", "example": "Topic not found"}
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"},
                    "errors": {"type": "object"}
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a topic",
        "tags": ["Topics"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "responses": {
          "204": {"description": "Topic deleted"},
          "404": {
            "description": "Topic not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string", "example": "Topic not found"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/topics/{topic}/publish": {
      "put": {
        "summary": "Publish a topic",
        "tags": ["Topics"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {"name": "topic", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "responses": {
          "200": {
            "description": "Topic published successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"},
                    "data": {"$ref": "#/components/schemas/Topic"}
                  }
                }
              }
            }
          },
          "404": {
            "description": "Topic not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string", "example": "Topic not found"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/topics/{topic}/unpublish": {
      "put": {
        "summary": "Unpublish a topic",
        "tags": ["Topics"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {"name": "topic", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "responses": {
          "200": {
            "description": "Topic unpublished successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"},
                    "data": {"$ref": "#/components/schemas/Topic"}
                  }
                }
              }
            }
          },
          "404": {
            "description": "Topic not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string", "example": "Topic not found"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/lessons": {
      "get": {
        "summary": "List all lessons",
        "tags": ["Lessons"],
        "parameters": [
          {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "default": 1}},
          {"name": "per_page", "in": "query", "required": false, "schema": {"type": "integer", "default": 15}},
          {"name": "search", "in": "query", "required": false, "schema": {"type": "string"}, "description": "Search in lesson title"}
        ],
        "responses": {
          "200": {
            "description": "Paginated list of lessons",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {"$ref": "#/components/schemas/PaginatedResponse"},
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {"$ref": "#/components/schemas/Lesson"}
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new lesson",
        "tags": ["Lessons"],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {"$ref": "#/components/schemas/UpdateLessonRequest"}
            }
          }
        },
        "responses": {
          "201": {
            "description": "Lesson created",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Lesson"}
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"},
                    "errors": {"type": "object"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/lessons/{id}": {
      "get": {
        "summary": "Get a lesson by ID",
        "tags": ["Lessons"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "responses": {
          "200": {
            "description": "Lesson details with parsed paragraphs",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Lesson"}
              }
            }
          },
          "404": {
            "description": "Lesson not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string", "example": "Lesson not found"}
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a lesson",
        "tags": ["Lessons"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {"$ref": "#/components/schemas/UpdateLessonRequest"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lesson updated",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Lesson"}
              }
            }
          },
          "404": {
            "description": "Lesson not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string", "example": "Lesson not found"}
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"},
                    "errors": {"type": "object"}
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a lesson",
        "tags": ["Lessons"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "responses": {
          "204": {"description": "Lesson deleted"},
          "404": {
            "description": "Lesson not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string", "example": "Lesson not found"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/topics/{topic}/lessons": {
      "get": {
        "summary": "Get all lessons for a specific topic",
        "tags": ["Lessons"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {
            "name": "topic",
            "in": "path",
            "required": true,
            "schema": {"type": "integer"},
            "description": "Topic ID"
          }
        ],
        "responses": {
          "200": {
            "description": "List of lessons for the specified topic",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {"$ref": "#/components/schemas/Lesson"}
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Topic not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string", "example": "Topic not found"}
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"},
                    "error": {"type": "string"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/lessons/{lesson}/publish": {
      "put": {
        "summary": "Publish a lesson",
        "tags": ["Lessons"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {"name": "lesson", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "responses": {
          "200": {
            "description": "Lesson published successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"},
                    "data": {"$ref": "#/components/schemas/Lesson"}
                  }
                }
              }
            }
          },
          "404": {
            "description": "Lesson not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string", "example": "Lesson not found"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/lessons/{lesson}/unpublish": {
      "put": {
        "summary": "Unpublish a lesson",
        "tags": ["Lessons"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {"name": "lesson", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "responses": {
          "200": {
            "description": "Lesson unpublished successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"},
                    "data": {"$ref": "#/components/schemas/Lesson"}
                  }
                }
              }
            }
          },
          "404": {
            "description": "Lesson not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string", "example": "Lesson not found"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/favorite-phrases": {
      "get": {
        "summary": "Get user's favorite phrases",
        "tags": ["User Progress"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "List of favorite phrases",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FavoritePhrase"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/favorite-phrases/toggle": {
      "post": {
        "summary": "Toggle phrase favorite status",
        "tags": ["User Progress"],
        "security": [{"bearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["phrase_id"],
                "properties": {"phrase_id": {"type": "integer"}}
              }
            }
          }
        },
        "responses": {
          "200": {"description": "Favorite status toggled"}
        }
      }
    },
    "/api/user/completed-lessons": {
      "get": {
        "summary": "Get user's completed lessons",
        "tags": ["User Progress"],
        "security": [{"bearerAuth": []}],
        "responses": {
          "200": {"description": "List of completed lessons"}
        }
      },
      "post": {
        "summary": "Mark lesson as complete",
        "tags": ["User Progress"],
        "security": [{"bearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["lesson_id"],
                "properties": {"lesson_id": {"type": "integer"}}
              }
            }
          }
        },
        "responses": {
          "201": {"description": "Lesson marked as complete"}
        }
      }
    },
    "/api/user/courses/{courseId}/progress": {
      "get": {
        "summary": "Get course completion progress",
        "tags": ["User Progress"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {"name": "courseId", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "responses": {
          "200": {
            "description": "Course progress",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {"$ref": "#/components/schemas/CourseProgress"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/courses/progress": {
      "get": {
        "summary": "Get progress for all courses",
        "tags": ["User Progress"],
        "security": [{"bearerAuth": []}],
        "responses": {
          "200": {
            "description": "List of course progress",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {"$ref": "#/components/schemas/CourseProgress"}
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/statistics": {
      "get": {
        "summary": "Get user learning statistics",
        "tags": ["User Progress"],
        "security": [{"bearerAuth": []}],
        "responses": {
          "200": {
            "description": "User statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {"$ref": "#/components/schemas/UserStatistics"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/phrases": {
      "get": {
        "summary": "List all phrases",
        "tags": ["Phrases"],
        "parameters": [
          {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "default": 1}},
          {"name": "per_page", "in": "query", "required": false, "schema": {"type": "integer", "default": 15}},
          {"name": "search", "in": "query", "required": false, "schema": {"type": "string"}, "description": "Search in phrase text and translation"},
          {"name": "category", "in": "query", "required": false, "schema": {"type": "string"}, "description": "Filter by category/topic"},
          {"name": "difficulty_level", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 0, "maximum": 10}, "description": "Filter by difficulty level"}
        ],
        "responses": {
          "200": {
            "description": "Paginated list of phrases",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {"$ref": "#/components/schemas/PaginatedResponse"},
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {"$ref": "#/components/schemas/Phrase"}
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new phrase",
        "tags": ["Phrases"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/CreatePhraseRequest"}
            }
          }
        },
        "responses": {
          "201": {"description": "Phrase created"}
        }
      }
    },
    "/api/phrases-categories": {
      "get": {
        "summary": "Get all unique phrase categories",
        "tags": ["Phrases"],
        "responses": {
          "200": {
            "description": "List of all unique categories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "categories": {
                      "type": "array",
                      "items": {"type": "string"}
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/phrases/{id}": {
      "get": {
        "summary": "Get a phrase by ID",
        "tags": ["Phrases"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "responses": {
          "200": {"description": "Phrase details"}
        }
      },
      "put": {
        "summary": "Update a phrase",
        "tags": ["Phrases"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/UpdatePhraseRequest"}
            }
          }
        },
        "responses": {
          "200": {"description": "Phrase updated"}
        }
      },
      "delete": {
        "summary": "Delete a phrase",
        "tags": ["Phrases"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "responses": {
          "204": {"description": "Phrase deleted"}
        }
      }
    },
    "/api/difficulty-levels": {
      "get": {
        "summary": "Get all difficulty levels",
        "tags": ["Difficulty Levels"],
        "responses": {
          "200": {
            "description": "List of all difficulty levels",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {"$ref": "#/components/schemas/DifficultyLevel"}
                }
              }
            }
          }
        }
      }
    },
    "/api/users": {
      "get": {
        "summary": "List all users",
        "tags": ["Users"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "default": 1}},
          {"name": "per_page", "in": "query", "required": false, "schema": {"type": "integer", "default": 15}},
          {"name": "search", "in": "query", "required": false, "schema": {"type": "string"}, "description": "Search in username and email"}
        ],
        "responses": {
          "200": {
            "description": "Paginated list of users",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {"$ref": "#/components/schemas/PaginatedResponse"},
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {"$ref": "#/components/schemas/User"}
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new user",
        "tags": ["Users"],
        "security": [{"bearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/CreateUserRequest"}
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created successfully",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/User"}
              }
            }
          }
        }
      }
    },
    "/api/users/{id}": {
      "get": {
        "summary": "Get a user by ID",
        "tags": ["Users"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "responses": {
          "200": {
            "description": "User details",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/User"}
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string", "example": "User not found"}
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a user",
        "tags": ["Users"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/UpdateUserRequest"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated successfully",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/User"}
              }
            }
          },
          "500": {
            "description": "Failed to update user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"},
                    "error": {"type": "string"}
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a user",
        "tags": ["Users"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "responses": {
          "204": {
            "description": "User deleted successfully"
          },
          "400": {
            "description": "Failed to delete user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"}
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"},
                    "error": {"type": "string"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/users/{id}/block": {
      "put": {
        "summary": "Block a user",
        "tags": ["Users"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "responses": {
          "200": {
            "description": "User blocked successfully",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/User"}
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string", "example": "User not found"}
                  }
                }
              }
            }
          },
          "500": {
            "description": "Failed to block user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"},
                    "error": {"type": "string"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/users/{id}/unblock": {
      "put": {
        "summary": "Unblock a user",
        "tags": ["Users"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "responses": {
          "200": {
            "description": "User unblocked successfully",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/User"}
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string", "example": "User not found"}
                  }
                }
              }
            }
          },
          "500": {
            "description": "Failed to unblock user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"},
                    "error": {"type": "string"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/courses/{id}/publish": {
      "put": {
        "summary": "Publish a course",
        "tags": ["Courses"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "responses": {
          "200": {
            "description": "Course published successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"},
                    "data": {"$ref": "#/components/schemas/Course"}
                  }
                }
              }
            }
          },
          "404": {
            "description": "Course not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string", "example": "Course not found"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/courses/{id}/unpublish": {
      "put": {
        "summary": "Unpublish a course",
        "tags": ["Courses"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "responses": {
          "200": {
            "description": "Course unpublished successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"},
                    "data": {"$ref": "#/components/schemas/Course"}
                  }
                }
              }
            }
          },
          "404": {
            "description": "Course not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string", "example": "Course not found"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/advertisements": {
      "get": {
        "summary": "Get all advertisements",
        "tags": ["Advertisements"],
        "responses": {
          "200": {
            "description": "List of all advertisements",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {"$ref": "#/components/schemas/Advertisement"}
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new advertisement",
        "tags": ["Advertisements"],
        "security": [{"bearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["image", "url"],
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Advertisement image (jpeg, png, jpg, gif, webp, max 2MB)"
                  },
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "maxLength": 500,
                    "description": "URL to redirect when ad is clicked"
                  },
                  "is_active": {
                    "type": "boolean",
                    "default": true,
                    "description": "Whether the advertisement is active"
                  },
                  "starts_at": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true,
                    "description": "Start date for time-based ads (null for permanent ads)"
                  },
                  "ends_at": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true,
                    "description": "End date for time-based ads (null for permanent ads)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Advertisement created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {"$ref": "#/components/schemas/Advertisement"}
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error"
          },
          "500": {
            "description": "Failed to create advertisement"
          }
        }
      }
    },
    "/api/advertisements/active": {
      "get": {
        "summary": "Get all currently active advertisements",
        "description": "Returns advertisements that are active and within their time period (if specified)",
        "tags": ["Advertisements"],
        "responses": {
          "200": {
            "description": "List of active advertisements",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {"$ref": "#/components/schemas/Advertisement"}
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/advertisements/{id}": {
      "get": {
        "summary": "Get a specific advertisement",
        "tags": ["Advertisements"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "responses": {
          "200": {
            "description": "Advertisement details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {"$ref": "#/components/schemas/Advertisement"}
                  }
                }
              }
            }
          },
          "404": {
            "description": "Advertisement not found"
          }
        }
      },
      "put": {
        "summary": "Update an advertisement",
        "tags": ["Advertisements"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Advertisement image (jpeg, png, jpg, gif, webp, max 2MB)"
                  },
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "maxLength": 500
                  },
                  "is_active": {
                    "type": "boolean"
                  },
                  "starts_at": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true
                  },
                  "ends_at": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Advertisement updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {"$ref": "#/components/schemas/Advertisement"}
                  }
                }
              }
            }
          },
          "404": {
            "description": "Advertisement not found"
          },
          "422": {
            "description": "Validation error"
          }
        }
      },
      "delete": {
        "summary": "Delete an advertisement",
        "tags": ["Advertisements"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "responses": {
          "204": {
            "description": "Advertisement deleted successfully"
          },
          "404": {
            "description": "Advertisement not found"
          }
        }
      }
    },
    "/api/advertisements/{id}/publish": {
      "put": {
        "summary": "Publish an advertisement",
        "description": "Set is_active to true for the advertisement",
        "tags": ["Advertisements"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "responses": {
          "200": {
            "description": "Advertisement published successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {"$ref": "#/components/schemas/Advertisement"}
                  }
                }
              }
            }
          },
          "404": {
            "description": "Advertisement not found"
          }
        }
      }
    },
    "/api/advertisements/{id}/unpublish": {
      "put": {
        "summary": "Unpublish an advertisement",
        "description": "Set is_active to false for the advertisement",
        "tags": ["Advertisements"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "responses": {
          "200": {
            "description": "Advertisement unpublished successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {"$ref": "#/components/schemas/Advertisement"}
                  }
                }
              }
            }
          },
          "404": {
            "description": "Advertisement not found"
          }
        }
      }
    },
    "/api/courses/reviews/{review}": {
      "delete": {
        "tags": [
          "Course Reviews"
        ],
        "summary": "Delete a course review by ID (admin only)",
        "operationId": "destroyAdminCourseReview",
        "parameters": [
          {
            "name": "review",
            "in": "path",
            "description": "ID of the course review to delete",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Review deleted successfully."
          },
          "404": {
            "description": "Review not found."
          },
          "403": {
            "description": "Forbidden. Only admins can delete reviews."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/logs": {
      "get": {
        "tags": ["Logs"],
        "summary": "Get paginated application logs (admin only)",
        "description": "Retrieve application logs with optional filters and pagination. Only accessible to admin users.",
        "operationId": "getLogs",
        "parameters": [
          {"name": "per_page", "in": "query", "schema": {"type": "integer", "default": 15}, "description": "Items per page"},
          {"name": "level", "in": "query", "schema": {"type": "string"}, "description": "Log level (e.g., error, info)"},
          {"name": "user_id", "in": "query", "schema": {"type": "integer"}, "description": "Filter by user ID"},
          {"name": "channel", "in": "query", "schema": {"type": "string"}, "description": "Log channel"},
          {"name": "message", "in": "query", "schema": {"type": "string"}, "description": "Partial match on message"},
          {"name": "date_from", "in": "query", "schema": {"type": "string", "format": "date-time"}, "description": "Start date (inclusive)"},
          {"name": "date_to", "in": "query", "schema": {"type": "string", "format": "date-time"}, "description": "End date (inclusive)"}
        ],
        "responses": {
          "200": {
            "description": "Paginated list of logs",
            "content": {
              "application\/json": {
                "schema": {"$ref": "#/components/schemas/PaginatedLogList"}
              }
            }
          },
          "403": {"description": "Forbidden - admin only"},
          "500": {"description": "Server error"}
        },
        "security": [{"bearerAuth": []}]
      }
    },
    "/api/statistics/overall": {
      "get": {
        "tags": [
          "Statistics"
        ],
        "summary": "Get overall application statistics",
        "description": "Retrieve overall statistics about the application, such as total users, courses, reviews, and average ratings. Only accessible to admin users.",
        "operationId": "getStatistics",
        "responses": {
          "200": {
            "description": "Overall statistics",
            "content": {
              "application\/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatisticsOverview"
                }
              }
            }
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": {"type": "integer"},
          "username": {"type": "string", "description": "Username"},
          "email": {"type": "string", "format": "email"},
          "role": {"type": "string", "nullable": true, "description": "User role name"},
          "is_blocked": {"type": "boolean", "description": "Indicates if the user is blocked"},
          "profile_id": {"type": "integer", "nullable": true},
          "created_at": {"type": "string", "format": "date-time"},
          "updated_at": {"type": "string", "format": "date-time"}
        }
      },
      "CourseReview": {
        "type": "object",
        "properties": {
          "id": {"type": "integer"},
          "user": {
            "type": "object",
            "properties": {
              "id": {"type": "integer"},
              "username": {"type": "string"},
              "profile": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "first_name": {"type": "string"},
                  "last_name": {"type": "string"},
                  "avatar_url": {"type": "string", "nullable": true}
                }
              }
            }
          },
          "rating": {"type": "integer", "minimum": 0, "maximum": 5},
          "review_text": {"type": "string", "nullable": true},
          "created_at": {"type": "string", "format": "date-time"},
          "updated_at": {"type": "string", "format": "date-time"}
        }
      },
      "CreateReviewRequest": {
        "type": "object",
        "required": ["rating"],
        "properties": {
          "rating": {"type": "integer", "minimum": 0, "maximum": 5},
          "review_text": {"type": "string", "maxLength": 1000, "nullable": true}
        }
      },
      "CourseRating": {
        "type": "object",
        "properties": {
          "average_rating": {"type": "number", "format": "float"},
          "total_reviews": {"type": "integer"},
          "rating_distribution": {
            "type": "object",
            "properties": {
              "5": {"type": "integer"},
              "4": {"type": "integer"},
              "3": {"type": "integer"},
              "2": {"type": "integer"},
              "1": {"type": "integer"},
              "0": {"type": "integer"}
            }
          }
        }
      },
      "CreateUserRequest": {
        "type": "object",
        "required": ["username", "email", "password"],
        "properties": {
          "username": {"type": "string", "minLength": 3, "maxLength": 255},
          "email": {"type": "string", "format": "email"},
          "password": {"type": "string", "minLength": 8},
          "roleId": {"type": "integer", "nullable": true, "description": "Optional role ID for the user"}
        }
      },
      "UpdateUserRequest": {
        "type": "object",
        "properties": {
          "id": {"type": "integer"},
          "name": {"type": "string", "nullable": true, "minLength": 3, "maxLength": 255, "description": "Username"},
          "email": {"type": "string", "format": "email", "nullable": true},
          "password": {"type": "string", "nullable": true, "minLength": 8},
          "roleId": {"type": "integer", "nullable": true, "description": "Optional role ID for the user"}
        }
      },
      "Profile": {
        "type": "object",
        "properties": {
          "id": {"type": "integer"},
          "first_name": {"type": "string"},
          "last_name": {"type": "string"},
          "bio": {"type": "string"},
          "avatar_url": {"type": "string", "nullable": true},
          "created_at": {"type": "string", "format": "date-time"},
          "updated_at": {"type": "string", "format": "date-time"}
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "message": {"type": "string"},
          "user": {"$ref": "#/components/schemas/User"},
          "token": {"type": "string"}
        }
      },
      "RegisterRequest": {
        "type": "object",
        "required": ["username", "email", "password"],
        "properties": {
          "username": {"type": "string"},
          "email": {"type": "string"},
          "password": {"type": "string"}
        }
      },
      "LoginRequest": {
        "type": "object",
        "required": ["email", "password"],
        "properties": {
          "email": {"type": "string"},
          "password": {"type": "string"}
        }
      },
      "UpdateProfileRequest": {
        "type": "object",
        "properties": {
          "first_name": {"type": "string"},
          "last_name": {"type": "string"},
          "bio": {"type": "string"}
        }
      },
      "Course": {
        "type": "object",
        "properties": {
          "id": {"type": "integer"},
          "language": {"type": "string"},
          "title": {"type": "string"},
          "description": {"type": "string"},
          "difficulty_level_id": {"type": "integer", "nullable": true},
          "difficulty_level": {
            "$ref": "#/components/schemas/DifficultyLevel",
            "nullable": true
          },
          "preview_image_url": {"type": "string", "nullable": true, "description": "Full URL to the course preview image"},
          "is_premium": {"type": "boolean", "description": "Whether the requires premium su coursebscription"},
          "is_active": {"type": "boolean", "description": "Whether the course is published"},
          "created_at": {"type": "string", "format": "date-time"},
          "topics": {
            "type": "array",
            "items": {"$ref": "#/components/schemas/Topic"}
          }
        }
      },
      "CreateCourseRequest": {
        "type": "object",
        "required": ["title", "language"],
        "properties": {
          "title": {"type": "string"},
          "description": {"type": "string"},
          "difficulty_level_id": {"type": "integer", "nullable": true},
          "preview_image": {"type": "string", "format": "binary", "description": "Course preview image (JPEG, PNG, JPG, WebP, max 2MB)"}
        }
      },
      "UpdateCourseRequest": {
        "type": "object",
        "properties": {
          "language": {"type": "string"},
          "title": {"type": "string"},
          "description": {"type": "string"},
          "difficulty_level_id": {"type": "integer", "nullable": true},
          "preview_image": {"type": "string", "format": "binary", "description": "Course preview image (JPEG, PNG, JPG, WebP, max 2MB)"},
          "is_premium": {"type": "boolean", "description": "Whether the course requires premium subscription"}
        }
      },
      "Topic": {
        "type": "object",
        "properties": {
          "id": {"type": "integer"},
          "course_id": {"type": "integer"},
          "parent_id": {"type": "integer", "nullable": true},
          "title": {"type": "string"},
          "is_active": {"type": "boolean", "description": "Whether the topic is published"},
          "created_at": {"type": "string", "format": "date-time"}
        }
      },
      "CreateTopicRequest": {
        "type": "object",
        "required": ["course_id", "title"],
        "properties": {
          "course_id": {"type": "integer"},
          "parent_id": {"type": "integer", "nullable": true},
          "title": {"type": "string"}
        }
      },
      "UpdateTopicRequest": {
        "type": "object",
        "properties": {
          "course_id": {"type": "integer"},
          "parent_id": {"type": "integer", "nullable": true},
          "title": {"type": "string"}
        }
      },
      "Lesson": {
        "type": "object",
        "properties": {
          "id": {"type": "integer"},
          "topic_id": {"type": "integer"},
          "title": {"type": "string"},
          "weight": {"type": "integer"},
          "is_active": {"type": "boolean", "description": "Whether the lesson is published"},
          "content": {
            "type": "array",
            "items": {"$ref": "#/components/schemas/Paragraph"}
          },
          "created_at": {"type": "string", "format": "date-time"}
        }
      },
      "CreateLessonRequest": {
        "type": "object",
        "required": ["topic_id", "title", "weight"],
        "properties": {
          "topic_id": {"type": "integer"},
          "title": {"type": "string"},
          "weight": {"type": "integer", "minimum": 0},
          "content": {
            "type": "array",
            "nullable": true,
            "items": {"$ref": "#/components/schemas/Paragraph"}
          }
        }
      },
      "UpdateLessonRequest": {
        "type": "object",
        "properties": {
          "topic_id": {"type": "integer"},
          "title": {"type": "string"},
          "weight": {"type": "integer", "minimum": 0},
          "content": {"type": "string"},
          "files": {
            "type": "array",
            "nullable": true,
            "items": {"type": "string"}
          }
        }
      },
      "Paragraph": {
        "type": "object",
        "required": ["type", "order"],
        "discriminator": {
          "propertyName": "type"
        },
        "properties": {
          "type": {
            "type": "string",
            "enum": ["video", "text", "phrases", "test", "audio", "translation", "matching", "fill-gaps", "categorization", "sentence-task", "pre-listening", "vocabulary-game", "speech-recognition"]
          },
          "order": {"type": "integer", "minimum": 0}
        },
        "oneOf": [
          {"$ref": "#/components/schemas/VideoParagraph"},
          {"$ref": "#/components/schemas/TextParagraph"},
          {"$ref": "#/components/schemas/PhraseParagraph"},
          {"$ref": "#/components/schemas/TestParagraph"},
          {"$ref": "#/components/schemas/AudioParagraph"},
          {"$ref": "#/components/schemas/TranslationParagraph"},
          {"$ref": "#/components/schemas/MatchingParagraph"},
          {"$ref": "#/components/schemas/FillGapsParagraph"},
          {"$ref": "#/components/schemas/CategorizationParagraph"},
          {"$ref": "#/components/schemas/SentenceTaskParagraph"},
          {"$ref": "#/components/schemas/PreListeningParagraph"},
          {"$ref": "#/components/schemas/VocabularyGameParagraph"},
          {"$ref": "#/components/schemas/SpeechRecognitionParagraph"}
        ]
      },
      "VideoParagraph": {
        "allOf": [
          {"$ref": "#/components/schemas/Paragraph"},
          {
            "type": "object",
            "required": ["url"],
            "properties": {
              "url": {"type": "string", "format": "uri"}
            }
          }
        ]
      },
      "TextParagraph": {
        "allOf": [
          {"$ref": "#/components/schemas/Paragraph"},
          {
            "type": "object",
            "required": ["content"],
            "properties": {
              "content": {"type": "string"}
            }
          }
        ]
      },
      "PhraseParagraph": {
        "allOf": [
          {"$ref": "#/components/schemas/Paragraph"},
          {
            "type": "object",
            "required": ["phrases"],
            "properties": {
              "phrases": {
                "type": "array",
                "items": {"$ref": "#/components/schemas/PhraseItem"}
              }
            }
          }
        ]
      },
      "PhraseItem": {
        "type": "object",
        "required": ["text", "translation"],
        "properties": {
          "text": {"type": "string"},
          "translation": {"type": "string"}
        }
      },
      "TestParagraph": {
        "allOf": [
          {"$ref": "#/components/schemas/Paragraph"},
          {
            "type": "object",
            "required": ["questions"],
            "properties": {
              "questions": {
                "type": "array",
                "items": {"$ref": "#/components/schemas/TestQuestion"}
              }
            }
          }
        ]
      },
      "TestQuestion": {
        "type": "object",
        "required": ["text", "options"],
        "properties": {
          "text": {"type": "string"},
          "options": {
            "type": "array",
            "items": {"$ref": "#/components/schemas/TestOption"}
          }
        }
      },
      "TestOption": {
        "type": "object",
        "required": ["text", "is_correct"],
        "properties": {
          "text": {"type": "string"},
          "is_correct": {"type": "boolean"}
        }
      },
      "AudioParagraph": {
        "allOf": [
          { "$ref": "#/components/schemas/Paragraph" },
          {
            "type": "object",
            "required": ["type", "content"],
            "properties": {
              "type": {
                "type": "string",
                "enum": ["audio"]
              },
              "order": { "type": "integer", "minimum": 0 },
              "content": {
                "oneOf": [
                  {
                    "type": "object",
                    "required": ["type", "text", "audio_url"],
                    "properties": {
                      "type": { "type": "string", "enum": ["tts"] },
                      "text": { "type": "string" },
                      "audio_url": { "type": "string", "format": "uri" }
                    }
                  },
                  {
                    "type": "object",
                    "required": ["type", "audio_url"],
                    "properties": {
                      "type": { "type": "string", "enum": ["stored_audio"] },
                      "audio_url": { "type": "string", "format": "uri" }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "TranslationParagraph": {
        "allOf": [
          {"$ref": "#/components/schemas/Paragraph"},
          {
            "type": "object",
            "required": ["pairs"],
            "properties": {
              "pairs": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {"type": "string"},
                    "english": {"type": "string"},
                    "russian": {"type": "string"},
                    "direction": {"type": "string", "enum": ["eng-ru", "ru-eng", "both"]}
                  }
                }
              }
            }
          }
        ]
      },
      "MatchingParagraph": {
        "allOf": [
          {"$ref": "#/components/schemas/Paragraph"},
          {
            "type": "object",
            "required": ["pairs"],
            "properties": {
              "pairs": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {"type": "string"},
                    "left": {"type": "string"},
                    "right": {"type": "string"}
                  }
                }
              },
              "shuffleRight": {"type": "boolean", "default": true}
            }
          }
        ]
      },
      "FillGapsParagraph": {
        "allOf": [
          {"$ref": "#/components/schemas/Paragraph"},
          {
            "type": "object",
            "required": ["text", "gaps"],
            "properties": {
              "text": {"type": "string", "description": "Text with [GAP] markers"},
              "gaps": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "position": {"type": "integer"},
                    "correctAnswers": {"type": "array", "items": {"type": "string"}},
                    "hint": {"type": "string", "nullable": true}
                  }
                }
              }
            }
          }
        ]
      },
      "CategorizationParagraph": {
        "allOf": [
          {"$ref": "#/components/schemas/Paragraph"},
          {
            "type": "object",
            "required": ["categories", "items"],
            "properties": {
              "categories": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {"type": "string"},
                    "name": {"type": "string"},
                    "color": {"type": "string"}
                  }
                }
              },
              "items": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {"type": "string"},
                    "text": {"type": "string"},
                    "correctCategory": {"type": "string"}
                  }
                }
              }
            }
          }
        ]
      },
      "SentenceTaskParagraph": {
        "allOf": [
          {"$ref": "#/components/schemas/Paragraph"},
          {
            "type": "object",
            "required": ["tasks"],
            "properties": {
              "tasks": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {"type": "string", "enum": ["word-order", "free-write", "continuation"]},
                    "prompt": {"type": "string"},
                    "words": {"type": "array", "items": {"type": "string"}, "nullable": true},
                    "correctAnswer": {"type": "string"},
                    "hint": {"type": "string", "nullable": true}
                  }
                }
              }
            }
          }
        ]
      },
      "PreListeningParagraph": {
        "allOf": [
          {"$ref": "#/components/schemas/Paragraph"},
          {
            "type": "object",
            "required": ["taskType", "title", "instructions"],
            "properties": {
              "taskType": {"type": "string", "enum": ["prediction", "vocabulary", "pre-questions"]},
              "title": {"type": "string"},
              "instructions": {"type": "string"},
              "vocabularyWords": {
                "type": "array",
                "nullable": true,
                "items": {
                  "type": "object",
                  "properties": {
                    "word": {"type": "string"},
                    "definition": {"type": "string"}
                  }
                }
              },
              "questions": {"type": "array", "items": {"type": "string"}, "nullable": true}
            }
          }
        ]
      },
      "VocabularyGameParagraph": {
        "allOf": [
          {"$ref": "#/components/schemas/Paragraph"},
          {
            "type": "object",
            "required": ["gameType"],
            "properties": {
              "gameType": {"type": "string", "enum": ["word-scramble", "guess-word", "odd-one-out", "find-mistake", "listen-write"]},
              "words": {"type": "array", "items": {"type": "string"}, "nullable": true},
              "guessItems": {"type": "array", "nullable": true},
              "oddItems": {"type": "array", "nullable": true},
              "mistakeItems": {"type": "array", "nullable": true},
              "listenItems": {"type": "array", "nullable": true}
            }
          }
        ]
      },
      "SpeechRecognitionParagraph": {
        "allOf": [
          {"$ref": "#/components/schemas/Paragraph"},
          {
            "type": "object",
            "required": ["targetPhrase"],
            "properties": {
              "targetPhrase": {"type": "string"},
              "instructions": {"type": "string"}
            }
          }
        ]
      },
      "FavoritePhrase": {
        "type": "object",
        "properties": {
          "user_id": {"type": "integer"},
          "phrase_id": {"type": "integer"},
          "added_at": {"type": "string", "format": "date-time"},
          "phrase": {"$ref": "#/components/schemas/Phrase"}
        }
      },
      "Phrase": {
        "type": "object",
        "properties": {
          "id": {"type": "integer"},
          "text": {"type": "string"},
          "translation": {"type": "string"},
          "difficulty_level_id": {"type": "integer", "nullable": true},
          "difficulty_level": {
            "$ref": "#/components/schemas/DifficultyLevel",
            "nullable": true
          },
          "topic": {"type": "string"},
          "audio_url": {"type": "string"},
          "created_at": {"type": "string", "format": "date-time"},
          "updated_at": {"type": "string", "format": "date-time"}
        }
      },
      "CreatePhraseRequest": {
        "type": "object",
        "required": ["text"],
        "properties": {
          "text": {"type": "string"},
          "translation": {"type": "string"},
          "difficulty_level_id": {"type": "integer", "nullable": true},
          "topic": {"type": "string"}
        }
      },
      "UpdatePhraseRequest": {
        "type": "object",
        "properties": {
          "text": {"type": "string"},
          "translation": {"type": "string"},
          "difficulty_level_id": {"type": "integer", "nullable": true},
          "topic": {"type": "string"}
        }
      },
      "PaginatedResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "description": "Array of items for the current page"
          },
          "links": {
            "type": "object",
            "properties": {
              "first": {"type": "string", "nullable": true},
              "last": {"type": "string", "nullable": true},
              "prev": {"type": "string", "nullable": true},
              "next": {"type": "string", "nullable": true}
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "current_page": {"type": "integer"},
              "from": {"type": "integer", "nullable": true},
              "last_page": {"type": "integer"},
              "path": {"type": "string"},
              "per_page": {"type": "integer"},
              "to": {"type": "integer", "nullable": true},
              "total": {"type": "integer"}
            }
          }
        }
      },
      "DifficultyLevel": {
        "type": "object",
        "properties": {
          "id": {"type": "integer"},
          "name": {"type": "string"},
          "value": {"type": "integer"},
          "description": {"type": "string", "nullable": true}
        }
      },
      "CourseProgress": {
        "type": "object",
        "properties": {
          "course_id": {"type": "integer"},
          "title": {"type": "string"},
          "preview_image_url": {"type": "string", "nullable": true},
          "total_lessons": {"type": "integer"},
          "completed_lessons": {"type": "integer"},
          "progress_percentage": {"type": "number", "format": "float"},
          "is_completed": {"type": "boolean"}
        }
      },
      "UserStatistics": {
        "type": "object",
        "properties": {
          "total_completed_lessons": {"type": "integer"},
          "total_completed_courses": {"type": "integer"},
          "total_in_progress_courses": {"type": "integer"},
          "average_progress": {"type": "number", "format": "float"}
        }
      },
      "SubscriptionStatus": {
        "type": "object",
        "properties": {
          "is_premium": {"type": "boolean"},
          "ends_at": {"type": "string", "nullable": true, "format": "date-time"},
          "on_trial": {"type": "boolean"},
          "trial_ends_at": {"type": "string", "nullable": true, "format": "date-time"}
        }
      },
      "Advertisement": {
        "type": "object",
        "properties": {
          "id": {"type": "integer"},
          "image_url": {"type": "string", "format": "uri", "description": "Full URL to the advertisement image"},
          "url": {"type": "string", "format": "uri", "description": "URL to redirect when ad is clicked"},
          "is_active": {"type": "boolean", "description": "Whether the advertisement is active"},
          "is_permanent": {"type": "boolean", "description": "True if advertisement has no start/end dates"},
          "is_currently_active": {"type": "boolean", "description": "True if advertisement is active and within its time period"},
          "starts_at": {"type": "string", "format": "date-time", "nullable": true, "description": "Start date for time-based ads"},
          "ends_at": {"type": "string", "format": "date-time", "nullable": true, "description": "End date for time-based ads"},
          "created_at": {"type": "string", "format": "date-time"},
          "updated_at": {"type": "string", "format": "date-time"}
        }
      },
      "Log": {
        "type": "object",
        "properties": {
          "id": {"type": "integer"},
          "level": {"type": "string"},
          "message": {"type": "string"},
          "context": {"type": "object", "nullable": true},
          "channel": {"type": "string", "nullable": true},
          "user_id": {"type": "integer", "nullable": true},
          "created_at": {"type": "string", "format": "date-time"}
        }
      },
      "PaginatedLogList": {
        "type": "object",
        "properties": {
          "data": {"type": "array", "items": {"$ref": "#/components/schemas/Log"}},
          "current_page": {"type": "integer"},
          "last_page": {"type": "integer"},
          "per_page": {"type": "integer"},
          "total": {"type": "integer"}
        }
      },
      "StatisticsOverview": {
        "type": "object",
        "properties": {
          "active_students": {
            "type": "integer"
          },
          "total_courses": {
            "type": "integer"
          },
          "completed_lessons": {
            "type": "integer"
          },
          "average_rating": {
            "type": "number",
            "format": "float"
          }
        }
      }
    }
  }
}
